#image-preview, #image-preview-edit{
    width:400px;
    height:400px;
    position:relative;
    overflow:hidden;
    background-color:#fff;
    color:#ecf0f1;
    background-size: contain!important;
    background-repeat: no-repeat
}
#image-preview input ,#image-preview input{
    line-height:200px;
    font-size:200px;
    position:absolute;
    opacity:0;z-index:10
}
#image-preview label, #image-preview-edit label{
    position:absolute;
    z-index:5;opacity:.8;
    cursor:pointer;
    background-color:#bdc3c7;
    width:200px;height:50px;
    font-size:20px;
    line-height:50px;
    text-transform:uppercase;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    text-align:center
}